/* Styliser les titres des chansons */
td:nth-child(3) {
    font-style: bold;
    color: #cd0d0d; /* Rouge */
}

/* Styliser les albums */
td:nth-child(2) {
    text-transform: uppercase;
    color: #00cc66; /* Vert */
}

/* Styliser la durée */
td:nth-child(5) {
    font-weight: bold;
    color: #9933ff; /* Violet */
}

/* Styliser l'année */
td:nth-child(4) {
    color: #3112d0; /* Orange */
}

/* Styliser les lignes impaires */
tr:nth-child(odd) {
    background-color: #f2f2f2; /* Gris clair */
}

/* Styliser les lignes au survol */
tr:hover {
    background-color: #cce6ff; /* Bleu clair */
}
